body {
  background-color: #000000;
  margin: 0; 
  display: flex;
  flex-direction: row; 
  
}

button {
  background-color: #000000;
  border: none;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: #1b1b1b;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:active {
  transform: scale(0.95);
  box-shadow: none;
}

.Window-icon,
.minimize-icon,
.Close-icon {
  width: 20px;
  height: 20px;
  background-size: cover;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

.Window-icon {
  background-image: url("Window-icon.png");
}

.minimize-icon {
  background-image: url("minimize-icon.png");
}

.Close-icon {
  background-image: url("close-icon.png");
}
    .custom-button {
      margin-right: 5px;
      margin-left: 5px;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    .custom-button {
      margin-left: 5px;
    }

    .custom-button {
      width: 20px;
      height: 20px;
    }