body {
  background-color: #000000;
}

button {
  background-color: #000000;
  border: none;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: #007bff;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:active {
  transform: scale(0.95);
  box-shadow: none;
}

.settings-icon,
.Window-icon,
.minimize-icon,
.Close-icon {
  width: 40px;
  height: 40px;
  background-size: cover;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

.settings-icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-image: url("settings-icon.png");
}

.Window-icon {
  position: absolute;
  bottom: 70px;
  right: 20px;
  background-image: url("Window-icon.png");
}

.minimize-icon {
  position: absolute;
  bottom: 70px;
  right: 80px;
  background-image: url("minimize-icon.png");
}

.Close-icon {
  position: absolute;
  bottom: 70px;
  right: 140px;
  background-image: url("close-icon.png");
}
